.photo-frame{
    border: 5px solid blue;
    padding: 15px;
    margin: 10px;
    width: 300px;
    
}
.profile-card{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 20px;

}
.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 100% ;
    margin-bottom: 15px;
    border: 3px solid green;
}
